@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #4E5152;
    font-family: "Rock Salt", cursive;
}

.main-container {
  flex: 1;
  margin-top: 6%;
}

header {
  padding: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
  background-color: #333333;
  border-radius: 5px;
}

.tarjeta-album {
  background-color: #666666;
  width: 300px;
  height: 380px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.album-cover {
  max-width: 100%;
  max-height: 250px;
  border-radius: 5px;
}

.album-title {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.iconos{
  width: 10%;
}

i.bi{
  font-size: 2.5rem;
}

@media (max-width: 768px){
  i.bi{
    font-size: 1.5rem;
  }
}